# Filename : start.config
# Description:
#     This is a simple configuration file read by start.sh

GLOBAL_SETTINGS
        # GRADE_CONTAINER - container where instructor will perform grading
	GRADE_CONTAINER client

        # HOST_HOME_XFER - directory to transfer artifact to/from containers
	HOST_HOME_XFER seed_dir/

	# LAB_MASTER_SEED - this is the master seed string specific to this laboratory
	LAB_MASTER_SEED mysecretisnotveryhardtoguess

# SUBNETS
NETWORK INTERNET_LAB_NW
	MASK 172.20.0.0/24
        GATEWAY 172.20.0.100

NETWORK DMZ_LAB_NW
	MASK 172.25.0.0/24
	GATEWAY 172.25.0.101

NETWORK INTERNAL_LAB_NW
	MASK 172.35.0.0/24
	GATEWAY 172.35.0.102

# Container name and settings
CONTAINER server
	USER ubuntu
	TERMINALS 1
	INTERNET_LAB_NW 172.20.0.3

CONTAINER client
	USER ubuntu
	TERMINALS 2
	DMZ_LAB_NW 172.25.0.2

CONTAINER router 
	USER ubuntu
	TERMINALS 1
	INTERNET_LAB_NW 172.20.0.1 
	DMZ_LAB_NW 172.25.0.1

