    GLOBAL_SETTINGS
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED ghidra_mike_master_seed
NETWORK LAN
     MASK 172.25.0.0/24
     GATEWAY 172.25.0.101
CONTAINER ghidra
     USER ubuntu
     X11 YES
     TERMINALS 2
     LAN 172.25.0.3
CONTAINER server
     USER ubuntu
     X11 YES
     TERMINALS -1
     LAN 172.25.0.2
