# parameter.config
# 
# Please see ..../docs/parameter.config.format
#

randport : RAND_REPLACE : nmap-ssh.pserver.student=/etc/xinetd.d/ssh;nmap-ssh.pserver.student=/etc/services : RANDOM_PORT : 2000 : 3000
secretpwd : HASH_REPLACE : nmap-ssh.client.student=/home/ubuntu/bot.py;nmap-ssh.pserver.student=/home/ubuntu/.local/bin/fixlocal.sh : NEWPWD : password : 6

