# parameter.config
# 
# Please see ..../docs/parameter.config.format
#

randport : RAND_REPLACE : nmap-testing.pserver.student=/etc/xinetd.d/ssh;nmap-testing.pserver.student=/etc/services : RANDOM_PORT : 5000 : 9999
secretpwd : HASH_REPLACE : nmap-testing.client.student=/home/ubuntu/bot.py;nmap-testing.pserver.student=/home/ubuntu/.local/bin/fixlocal.sh : NEWPWD : password : 6

