<html>
  <head>
    <link rel="stylesheet" href='/static/main.css' />
  </head>
  <body>
    <a href={{back_grades}}>goals</a>

    <h1>{{student_email}}</h1>
    <h1>Lab: {{lab}}</h1>
    <h2>Goal: {{goal}}</h2>
    {% if timestamp != 'None' %}
    <h2>Timestamp: {{timestamp}}</h2>
    {% endif %}
    <p>Was {{goal1}} during {{goal2}}?
    {% for result1 in result1_rec %}
        {% if result1['fname'].startswith('/') %}
           <p>Result: {{ result1['result_id'] }} : {{result1['container']}}:<a href={{result1['raw_url']}}>{{result1['fname']}}</a> : {{ result1['expr'] }}</p>
        {%else%}
           <p>Result: {{ result1['result_id'] }} : {{result1['container']}}:{{result1['fname']}} : {{ result1['expr'] }}</p>
        <pre>    Timestamp: <a href={{result1['raw_url']}}>{{result1['file_ts']}}</a> </pre>
        {%endif%}
    {% endfor %}
    {% for result2 in result2_rec %}
        {% if result2['fname'].startswith('/') %}
           <p>Result: {{ result2['result_id'] }} : {{result2['container']}}:<a href={{result2['raw_url']}}>{{result2['fname']}}</a> : {{ result2['expr'] }}</p>
        {%else%}
           <p>Result: {{ result2['result_id'] }} : {{result2['container']}}:{{result2['fname']}} : {{ result2['expr'] }}</p>
        <pre>    Timestamp: <a href={{result2['raw_url']}}>{{result2['file_ts']}}</a> </pre>
        {%endif%}
    {% endfor %}

 </body>
</html>
