<html>
  <head>
    <link rel="stylesheet" href='/static/main.css' />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  </head>
  <body>
    <a href={{url_for('home')}}>home</a> &nbsp
    <a href={{back_grades}}>goals</a>

    <h1>{{student_email}}</h1>
    <h1>Lab: {{lab}}</h1>
    <h2>Goal: {{goal}}</h2>
    {% if timestamp != 'None' %}
    <h2>Timestamp: {{timestamp}}</h2>
    {% endif %}
    {%if goal_entry['goaltype'] == 'boolean' %}
       {% for bool_tbl in bool_tbl_list %}
          {{bool_tbl[0]}} = {{bool_tbl[1]}}
          {% if bool_tbl[3] %}}
          <pre>{{bool_tbl[3]}}</pre>
          {% endif %}
          <pre>{{bool_tbl[2]}}</pre>
       {%endfor%}
       <p>NOTE: Not all timestamped rows are relevant to the goal, or represent a failure on the part
       of the student.  They reflect events that might be relevant to the goal.</p> <br>
    {%else%}
        goal type: {{goal_entry['goaltype']}} : {{goal_entry['resulttag']}} : {{goal_entry['goaloperator']}} : {{goal_entry['answertag']}} </br>
        {% if result_rec %}
            result: {{result_rec['result_id']}}:{{result_rec['value']}} = {{result_rec['expr']}}</br>
              {% for file_name in result_rec['file_data'] %}
                file: {{result_rec['container']}}:{{file_name}}</br>
                <pre>{{result_rec['file_data'][file_name]}}</pre>
              {%endfor%}
        {% endif %}
        {% if ts_table %}
            {{ts_table}}
        {% endif %}
    {% endif %}

 </body>
</html>
