<html>
  <head>
    <link rel="stylesheet" href='/static/main.css' />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <style>
   * {
     box-sizing: border-box;
   }
   
   /* Create two equal columns that floats next to each other */
   .column {
     float: left;
     width: 20%;
     padding: 10px;
   }
   
   /* Clear floats after the columns */
   .row:after {
     content: "";
     display: table;
     clear: both;
   }
   </style>
  </head>
  <body>
    <h1>Labtainers Gradelab for Lab: {{lab}}</h1>

<div class="row">
  <div class="column">
    <img src="{{ url_for('static', filename='labtainer5-sm.png') }}" alt="Labtainers Icon">
  </div>
  <div class="column" style="background-color:#bbb;">
    <a href={{grades}}>Table of Student Goals</a><br><br>
    <a href={{lab_manual}} target="_blank">Lab Manual for {{lab}}</a><br><br>
    <a href={{url_for('static', filename='docs/instructor/labtainer-instructor.pdf')}} target="_blank">Labtainer Instructor Guide</a><br><br>
    <a href={{url_for('static', filename='docs/labdesigner/labdesigner.pdf')}} target="_blank">Lab Designer Guide</a><br><br>
    <a href=https://nps.edu/web/c3o/labtainers target="_blank">Labtainers web page</a><br><br>
    
  </div>
</div>
<p>This is an early release version of the web-based student assessment tool.  Please send feedback to
Mike Thompson (mfthomps@nps.edu), or open a <a href=https://github.com/mfthomps/Labtainers target="_blank"> GitHub issue</p>
    
  </body>
</html>
