[Unit]
Description=HTTP Service

[Service]
Type=simple
WorkingDirectory=/var/www/html
ExecStart=/home/ubuntu/MyHTTPServer.py
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=httpserver.service

