# goals.config
# 
# Please see ..../docs/goals.config.format

# The following are meant for vpn lab

routertcpdumpon = matchany : string_end : routertcpdump : answer=eth1

wgetlink1encryptedok = matchany : string_equal : wgetlink1 : answer=192.168.0.4:80

wgetencryptedduringtcpdump = time_during : wgetlink1encryptedok : routertcpdumpon
