# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#
#  Did student run nmap from ws1 & remote workstion while iptables 
#  allowed https & mysql locally and only https remotely?
#
# Group nmap outputs into iptables log timestamp groups 
# determined in results.config.
#_iplog = time_during : _iplog_outer : _iplog_inner
_remote_nmap_443 = time_during : __remote_nmap_443 : _iplog
_remote_nmap_sql = time_during : __remote_nmap_sql : _iplog
_remote_wget_ws2 = time_during : __remote_wget_ws2 : _iplog

_local_nmap_443 = time_during : __local_nmap_443 : _iplog
_local_nmap_sql = time_during : __local_nmap_sql : _iplog

_reach_internet = time_during : __reach_internet : _iplog
#
# Note boolean evaluations are done per-timestamp group.  Which we have organized around
# the running of iptables.
#DOC: Did nmap from the local and remote workstations indicate a correct iptables setting?
dmz_correct = boolean : ((_remote_nmap_443 and_not _remote_nmap_sql and _remote_wget_ws2) and _local_nmap_443 and _local_nmap_sql and _reach_internet)
#GROUP: Quantity of configuration changes made using iptables (directly or via a script)
inner_iptables = count : _inner_iptables
outer_iptables = count : _outer_iptables

