# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#
#  Did student run nmap from ws1 & remote workstion while iptables 
#  allowed https & mysql locally and only https remotely?
#
# Group nmap outputs into iptables log timestamp groups 
# determined in results.config.
remote_nmap_443 = time_during : _remote_nmap_443 : _iplog
remote_nmap_sql = time_during : _remote_nmap_sql : _iplog
local_nmap_443 = time_during : _local_nmap_443 : _iplog
local_nmap_sql = time_during : _local_nmap_sql : _iplog
#
# Note boolean evaluations are done per-timestamp group.  Which we have organized around
# the running of iptables.
remote_correct = boolean : ((remote_nmap_443 and_not remote_nmap_sql) and local_nmap_443 and local_nmap_sql)

