# goals.config
# 
# Please see ..../docs/goals.config.format

# The following are meant for format string vulnerability lab

md5done = matchany : string_equal : md5filedigest : answer=filetodigest.txt
sha1done = matchany : string_equal : sha1filedigest : answer=filetodigest.txt
sha256done = matchany : string_equal : sha256filedigest : answer=filetodigest.txt
hmacmd5done = matchany : string_equal : hmacmd5filedigest : answer=filetodigest.txt
hmacsha1done = matchany : string_equal : hmacsha1filedigest : answer=filetodigest.txt
hmacsha256done = matchany : string_equal : hmacsha256filedigest : answer=filetodigest.txt
hmacsha256diff = matchacross : string_diff : hmacsha256digest : hmacsha256digest

