# goals.config
# 
# Please see ..../docs/goals.config.format
#vi_task_a = is_true : vi_check_one
#vi_task_b = is_true : vi_check_two
gcc_task_one = matchany : string_equal : gcc_check : answer=-g sampleMath.c -o sampleMath.x
smx_task_a = matchany : string_equal : smx_check_one : answer=Total
smx_task_b = matchany : string_equal : smx_check_two : answer=The
gdb_run_task = is_true : gdb_run_check
gdb_list_task = is_true : gdb_list_check
gdb_print_task = is_true : gdb_print_check
gdb_step_task = is_true : gdb_step_check
correct_check_a = matchany : integer_equal : correct_check_one : answer=7
correct_check_b = is_true : correct_check_two
