[Unit]
Description=Heartbeat Service
After=waitparam.service

[Service]
Type=simple
ExecStart=/usr/bin/heartbeat.py
StandardOutput=null
WorkingDirectory=/home/admin
User=admin

[Install]
WantedBy=multi-user.target
Alias=heartbeat.service

