# goals.config
# 
# Please see labdesigner.md

# Note these goals are intended mostly for testing the framework.

telnetview = matchany : string_equal : fileview : parameter.FSTRING
sshview = matchany : string_equal : sshfileview : parameter.FSTRING
tcpdump_plain = is_true : tcpdumprun 
failed_login = is_true : failed_login
