# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
# Counts to reflect student attempts
sysctl_count = value : sysctl
nping_count = value : nping
# count syn_recv states on the server during syn flood attack
syn_flood = count : integer_greater : syn_recv : answer=3
# RST attack occurred
did_rst = is_true : rst
# file dumped during nc session.
reverse_shell = is_true : nc_dumped
