# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
# GROUP: Counts to reflect student attempts
sysctl_count = value : sysctl
nping_count = value : nping
# DOC: More than three syn_recv states on the server during syn flood attack
syn_flood = matchany : integer_greater : syn_recv : answer=3
