    GLOBAL_SETTINGS
    GRADE_CONTAINER ldap
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED ldap_mike_master_seed
NETWORK LAN
     MASK 172.25.0.0/24
     GATEWAY 172.25.0.101
CONTAINER ldap
     USER admin
     X11 YES
     ADD-HOST LAN
     LAN 172.25.0.2
CONTAINER client
     USER mike
     X11 YES
     ADD-HOST LAN
     LAN 172.25.0.3
CONTAINER server1
     USER admin
     X11 YES
     TERMINAL_GROUP servers
     ADD-HOST LAN
     LAN 172.25.0.4
CONTAINER server2
     USER admin
     X11 YES
     TERMINAL_GROUP servers
     ADD-HOST LAN
     LAN 172.25.0.5
