# Filename : start.config
# Description:
#     This is a simple configuration file read by start.sh

# Name of container
CONTAINER_NAME="paramlabsstudent"

# Name of container image
CONTAINER_IMAGE="paramlabs:student"

# Name of user
CONTAINER_USER="ubuntu"

# HOST_HOME_SEED - directory to transfer artifact to/from containers
HOST_HOME_SEED="seed_dir/paramlabs/"

# LAB_MASTER_SEED - this is the 'secret' specific to this laboratory
LAB_MASTER_SEED="myparamlabssecretisnotveryhardtoguess"

