# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#GROUP: counts of program invocation
logger_count = value : logger
last_count = value : last
service_count = value : service
#DOC: altered rsyslog.conf to generate marks
log_mark = is_true : mark
#DOC: altered rsyslog.conf to log debug messages to custom file
did_debug = boolean : (not _service_in_debug and _debug)
