    GLOBAL_SETTINGS
    LAB_MASTER_SEED smt_student_master_seed
NETWORK NET30
     MASK 172.30.0.0/24
     GATEWAY 172.30.0.101
NETWORK NET40
     MASK 172.40.0.0/24
     GATEWAY 172.40.0.101
NETWORK NET50
     MASK 172.50.0.0/24
     GATEWAY 172.50.0.101
NETWORK NET60
     MASK 172.60.0.0/24
     GATEWAY 172.60.0.101
NETWORK NET70
     MASK 172.70.0.0/24
     GATEWAY 172.70.0.101
CONTAINER base
     USER ubuntu
     X11 YES
     ADD-HOST hosta:172.40.0.10
     NET30 172.30.0.10
CONTAINER gw1
     USER ubuntu
     X11 YES
     TERMINALS 0
     NET30 172.30.0.75
     NET40 172.40.0.76
     NO_GW YES
CONTAINER hosta
     USER ubuntu
     X11 YES
     TERMINALS 0
     ADD-HOST base:172.30.0.10
     ADD-HOST hostb:172.50.0.10
     NET40 172.40.0.10
     NO_GW YES
CONTAINER gw2
     USER ubuntu
     X11 YES
     TERMINALS 0
     NET40 172.40.0.75
     NET50 172.50.0.76
     NO_GW YES
CONTAINER hostb
     USER ubuntu
     X11 YES
     TERMINALS 0
     ADD-HOST hostc:172.60.0.10
     NET50 172.50.0.10
     NO_GW YES
CONTAINER hostc
     USER ubuntu
     X11 YES
     TERMINALS 0
     ADD-HOST hostb:172.50.0.10
     ADD-HOST hostd:172.70.0.10
     NET60 172.60.0.10
     NO_GW YES
CONTAINER gw3
     USER ubuntu
     X11 YES
     TERMINALS 0
     NET50 172.50.0.75
     NET60 172.60.0.76
     NO_GW YES
CONTAINER gw4
     USER ubuntu
     X11 YES
     TERMINALS 0
     NET60 172.60.0.75
     NET70 172.70.0.76
     NO_GW YES
CONTAINER hostd
     USER ubuntu
     X11 YES
     TERMINALS 0
     ADD-HOST hostc:172.60.0.10
     NET70 172.70.0.10
     NO_GW YES
