# parameter.config
# 
# Please see ..../docs/parameter.config.format

# The following are meant for buffer overflow vulnerability lab
RAND_REPLACE: /home/ubuntu/stack.c : BUFFER_SIZE : 200 : 2000

HASH_REPLACE : /root/.secret : ROOT_SECRET : mysupersecretrootfile
HASH_REPLACE : /home/ubuntu/.secret : UBUNTU_SECRET : mysupersecretubuntufile

