# goals.config
# 
# Please see ..../docs/goals.config.format

# The following are meant for format string vulnerability lab

# whether the student crashed the program
_crash_smash = matchany : string_equal : crashStringCanary : answer=smashing
_crash_sig = matchany : string_equal : crashStringSignal : answer=segmentation
crash =  boolean : ( _crash_smash or _crash_sig )

# was the secret2 value leaked?
_leaked_secret = matchany : string_end : leaked_secret1 : parameter_ascii.SECRET2
# was the secret2 value modified?
modifyvalue = matchany : string_diff : newsecret1value : result.origsecret1value
# was the secret2 value modified to a specific value?
modifyspecific = matchany : string_equal : newsecret1value : answer=0xa
# count stdin to determine if first scanf was disabled
_in_lines_2 = matchany : string_equal : input_lines : answer=2
# was ASLR enabled?
_aslr_on = matchany : string_equal : aslr : answer=2
# secret leaked with ASLR enabled?
leaked_secret = boolean : ( _aslr_on and _leaked_secret )
# secret leaked with ASLR no scanf, and ASLR disabled?
leaked_no_scanf = boolean : ( (_in_lines_2 and _leaked_secret) and_not _aslr_on )
