# goals.config
# 
# Please see ..../docs/goals.config.format

# The following are meant for format string vulnerability lab

_crash_smash = boolean_set : string_equal : crashStringCanary : answer=smashing
_crash_sig = boolean_set : string_equal : crashStringSignal : answer=segmentation
crash =  boolean : ( _crash_smash or _crash_sig )
leaked_secret = matchoneany : string_end : leaked_secret1 : parameter_ascii.SECRET2
modifyvalue = matchoneany : string_diff : newsecret1value : result.origsecret1value
modifyspecific = matchoneany : string_equal : newsecret1value : answer=0xa

