# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# Entries from the httpd log reflecting business plan access
_log_plan_local = matchany : string_equal : log_plan : answer=192.168.2.1
_log_plan_remote = matchany : string_equal : log_plan : answer=192.168.1.10

# Snort alerts for CONFIDENTIAL access, local and remote
snort_local_conf = matchany : string_equal : conf_alarm_from : answer=192.168.2.1
snort_remote_conf = matchany : string_equal : conf_alarm_from : answer=192.168.1.10

# Snort alerts for nmap scan from local workstation
snort_local_nmap = is_true : snort_local_nmap

# Group the httpd log entries that occured during specific snort sessions
snort_remote_fire = time_during : _log_plan_remote : snort_remote_conf
snort_local_fire = time_during : _log_plan_local : snort_local_conf

# Was there a snort session with remote alarm, no local alarm, and a local nmap alarm
# during which the plan was accessed locally & remotely?
proper_config = boolean : (snort_remote_fire and_not snort_local_fire and snort_local_nmap)

