# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
_log_plan_local = matchany : string_equal : log_plan : answer=192.168.2.1
_log_plan_remote = matchany : string_equal : log_plan : answer=192.168.1.10

_snort_local = is_true : snort_local
_snort_any =  is_true : snort_any

snort_remote_fire = time_during : _log_plan_remote : _snort_any
