# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
_log_plan_local = matchany : string_equal : log_plan : answer=192.168.2.1
_log_plan_remote = matchany : string_equal : log_plan : answer=192.168.1.10

_snort_local_conf = is_true : snort_local_conf
_snort_remote_conf = is_true : snort_remote_conf
_snort_local_nmap = is_true : snort_local_nmap
snort_remote_fire = time_during : _log_plan_remote : _snort_remote_conf
snort_local_fire = time_during : _log_plan_local : _snort_local_conf

proper_config = boolean : (snort_remote_fire and_not snort_local_fire and _snort_local_nmap)
