# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

_sshview = matchany : string_start : sshsecretfile : answer=This
_telnetview = matchany : string_start : telnetsecretfile : answer=is

sshdisplay = count_greater : 0 : (_sshview)
telnetdisplay = count_greater : 0 : (_telnetview)

