# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

_sshview = matchany : string_start : sshsecretfile : answer=This
_telnetview = matchany : string_start : telnetsecretfile : answer=is

#DOC: Used ssh to view the file
sshdisplay = count_greater : 0 : (_sshview)
#DOC: Used telnet to view the file
telnetdisplay = count_greater : 0 : (_telnetview)

