[Unit]
Description=HTTP Service

[Service]
Type=simple
ExecStart=/home/attacker/MyHTTPServer.py
WorkingDirectory=/home/attacker/
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=httpserver.service
