# goals.config
# 
# Please see ..../docs/goals.config.format

# The following are meant for buffer overflow vulnerability lab

gainrootprivilege = matchany : string_equal : rootsecret : parameter.roothash

_aslron = matchany : integer_equal : aslr_setting : answer=2
_looproot = matchany : string_equal : whilesecret : parameter.roothash

whilegetroot = boolean : ( _aslron and _looproot )
