# Filename : start.config
# Description:
#     This is a simple configuration file read by start.sh

GLOBAL_SETTINGS
        # GRADE_CONTAINER - container where instructor will perform grading
	GRADE_CONTAINER investigator

	# HOST_HOME_XFER - directory to transfer artifact to/from containers
	HOST_HOME_XFER seed_dir/
	
	# LAB_MASTER_SEED - this is the master seed string specific to this laboratory
	LAB_MASTER_SEED plc-forensics_jean_seed

# SUBNETS
NETWORK HOST_NETWORK
	MASK 172.20.0.0/24 
        GATEWAY 172.20.0.100

NETWORK PLC_NETWORK 
	MASK 10.1.100.0/24 
        GATEWAY 10.1.100.100

# Container name and settings
CONTAINER investigator
	USER ubuntu
	TERMINALS 2
	HOST_NETWORK 172.20.0.2 
	PLC_NETWORK 10.1.100.1

CONTAINER plc
	USER Guest
	TERMINALS 0
	PLC_NETWORK 10.1.100.2

