# answer.config
# 
# description: * this configuration file is read by AnswerParser.py
#              * comment line starts with '#' and will be skipped
#              * empty line will be ignored
#
# entry format
# <nametag> = <string>
#             nametag - must be alphanumeric
#
# NOTE: multiple <nametag> is allowed -- will be stored as list
#
# for example:
# crashstring = %s
# means : the 'crashstring' is equal to '%s'
#

# The following are meant for buffer overflow vulnerability lab

rootsecret = 983fb238e6170fc6baa75e2a1457ee33

