# parser.config
# 
# description: * this configuration file is read by ResultParser.py
#              * comment line starts with '#' and will be skipped
#              * empty line will be ignored
#
# entry format
# <nametag> = [ stdin | stdout ] : <command> : <param>
#               nametag - must be alphanumeric
#               stdin - represent reading from stdin result file
#               stdout - represent reading from stdout result file
#               <command> - valid commands are 'LINE' or 'STARTSWITH'
#               If <command> is 'LINE':
#               then <param> is <lineno> : <token>
#               where:
#                  <lineno> - must be an integer starting from 1
#                           - if file does not contain that many lines,
#                             associated <nametag> is set to NONE
#                  <token> - must be an integer starting from 1
#                          - tokens in line are separated by space
#                          - if line does not contain that many tokens,
#                             associated <nametag> is set to NONE
#               If <command> is 'STARTSWITH':
#               then <param> is <token> : <string>
#               where:
#                  <token> - must be an integer starting from 1
#                          - tokens in line are separated by space
#                          - if line does not contain that many tokens,
#                             associated <nametag> is set to NONE
#                  <string> - the rest of the line will be used as the string
#                             the lines in the file will be checked, i.e., to
#                             see if it starts with that string.
#                             The first line that matches will be used.
#                           - if no line matches (no line starts with string)
#                             then associated <nametag> is set to NONE
#
# for example:
# inputdecimal = stdin : LINE : 1 : 1
# means : read from stdin result file on line 1,
#         take the first token (tokens in line are separated by space)
#         and store it as name 'inputdecimal' of type string
#

# The following are meant for buffer overflow vulnerability lab

rootsecret = stack.stdout : STARTSWITH : 6 : My ROOT secret string is:

