# parser.config
# 
# description: * this configuration file is read by ResultParser.py
#              * comment line starts with '#' and will be skipped
#              * empty line will be ignored
#
# entry format
# <nametag> = [ stdin | stdout ] : <lineno> : <token>
#               nametag - must be alphanumeric
#               stdin - represent reading from stdin result file
#               stdout - represent reading from stdout result file
#               <lineno> - must be an integer starting from 1
#                        - if file does not contain that many lines,
#                          associated <nametag> is set to NONE
#               <token> - must be an integer starting from 1
#                       - tokens in line are separated by space
#                       - if line does not contain that many tokens,
#                          associated <nametag> is set to NONE
#
# for example:
# inputdecimal = stdin : 1 : 1
# means : read from stdin result file on line 1,
#         take the first token (tokens in line are separated by space)
#         and store it as name 'inputdecimal' of type string
#

# The following are meant for format string vulnerability lab

inputdecimal = vul_prog.stdin : 1 : 1
inputstring = vul_prog.stdin : 2 : 1

secret1address = vul_prog.stdout : 4 : 4
origsecret1value = vul_prog.stdout : 8 : 4
newsecret1value = vul_prog.stdout : 9 : 4

