# Filename : start.config
# Description:
#     Establish the names of lab containers and some of their properties, including:
#       User names
#       Network connections
#       trasfer directory
#       lab master seed
#
# Typically, labs consisting of a single container can use the file without modification.
# Refer to the "Labtainer Lab Designer User Guide" for details. 

GLOBAL_SETTINGS

        # HOST_HOME_XFER - directory to transfer artifact to/from containers, relative to the user's HOME
	HOST_HOME_XFER seed_dir/

	# LAB_MASTER_SEED - this is the master seed string specific to this laboratory
	LAB_MASTER_SEED bird-ospf_mike_master_seed

        # Uncomment the following to cause the content of the lab/docs directory
        # to be collected and included in the student artifacts.
        # COLLECT_DOCS YES

# SUBNETS.  Here is where you define subnets that will be available to the containers.
# Each subnet is assiged a name, a mask and gateway, as in the following example:
#
NETWORK TAP_LAN
    MASK 192.15.0.0/24
    GATEWAY 192.15.0.101
NETWORK  WAN1
     MASK 10.15.0.0/24
     GATEWAY 10.15.0.101
     TAP YES
NETWORK  LAN1
     MASK 10.1.0.0/24
     GATEWAY 10.1.0.101
     TAP YES
NETWORK  LAN2
     MASK 10.2.0.0/24
     GATEWAY 10.2.0.101
     TAP YES
NETWORK  LAN3
     MASK 10.3.0.0/24
     GATEWAY 10.3.0.101
     TAP YES
NETWORK  LAN7
     MASK 10.7.0.0/24
     GATEWAY 10.7.0.101
     TAP YES
NETWORK  LANS
     MASK 202.25.0.0/24
     GATEWAY 202.25.0.101
NETWORK  LAN4
     MASK 202.25.4.0/24
     GATEWAY 202.25.4.101
NETWORK  LAN5
     MASK 202.25.5.0/24
     GATEWAY 202.25.5.101
NETWORK  LAN6
     MASK 202.25.6.0/24
     GATEWAY 202.25.6.101
NETWORK  LANX
     MASK 203.22.0.0/24
     GATEWAY 203.22.0.101
#
# Container name and settings.  Here is where you define each container in terms of its name,
# user, number of virtual terminals, and its network connections.
# 
CONTAINER ir1
	USER ubuntu
	SCRIPT NONE
	X11 YES
        LAN1 10.1.0.2
        LAN2 10.2.0.1
        LAN3 10.3.0.1
        LANS 202.25.0.1
        LAB_GATEWAY 10.1.0.1
        NO_GW YES
        ADD-HOST br:10.1.0.1
        TERMINAL_GROUP routers
CONTAINER ir2
	USER ubuntu
	SCRIPT NONE
	X11 YES
        LAN2 10.2.0.2
        LAN7 10.7.0.2
        LAN4 202.25.4.1
        LAB_GATEWAY 10.2.0.1
        NO_GW YES
        TERMINAL_GROUP routers
CONTAINER ir3
	USER ubuntu
	SCRIPT NONE
	X11 YES
        LAN3 10.3.0.2
        LAN7 10.7.0.3
        LAN5 202.25.5.1
        LAN6 202.25.6.1
        LAB_GATEWAY 10.3.0.1
        NO_GW YES
        TERMINAL_GROUP routers
CONTAINER br
	USER ubuntu
	SCRIPT NONE
	X11 YES
        WAN1 10.15.0.2
        LAN1 10.1.0.1
        NO_GW YES
        TERMINAL_GROUP routers
        ADD-HOST ir1:10.1.0.2
        ADD-HOST brx:10.15.0.3
CONTAINER w1
	USER ubuntu
	SCRIPT NONE
	X11 YES
        LAN4 202.25.4.2
        TERMINAL_GROUP ws
        LAB_GATEWAY 202.25.4.1
CONTAINER w2
	USER ubuntu
	SCRIPT NONE
	X11 YES
        LAN5 202.25.5.2
        TERMINAL_GROUP ws
        LAB_GATEWAY 202.25.5.1
CONTAINER w3
	USER ubuntu
	SCRIPT NONE
	X11 YES
        LAN5 202.25.5.3
        LAB_GATEWAY 202.25.5.1
        TERMINAL_GROUP ws
CONTAINER wx
	USER ubuntu
	SCRIPT NONE
	X11 YES
        LANX 203.22.0.2
        LAB_GATEWAY 203.22.0.1
        TERMINAL_GROUP external
CONTAINER brx
	USER ubuntu
	SCRIPT NONE
	X11 YES
        WAN1 10.15.0.3
        LANX 203.22.0.1
        TERMINAL_GROUP external
        NO_GW YES
        ADD-HOST br:10.15.0.2
CONTAINER s1
	USER ubuntu
	SCRIPT NONE
	X11 YES
        LANS 202.25.0.2
        LAB_GATEWAY 202.25.0.1
        TERMINAL_GROUP ws
CONTAINER tap
	USER ubuntu
	SCRIPT NONE
	X11 YES
        TAP YES
        TERMINALS 0
CONTAINER netmon
	USER ubuntu
	SCRIPT NONE
	X11 YES
        TAP_LAN 192.15.0.2
