# parameter.config
# 
# Please see the Labtainer Designer Lab Designer User Guide
#


WAN1_R2 : RAND_REPLACE_UNIQUE : r1:/usr/local/etc/bird.conf;r3:/usr/local/etc/bird.conf;r4:/usr/local/etc/bird.conf;start.config : WAN1_R2 : 110: 192
WAN3_R2 : RAND_REPLACE_UNIQUE : r1:/usr/local/etc/bird.conf;r3:/usr/local/etc/bird.conf;r4:/usr/local/etc/bird.conf;start.config : WAN3_R2 : 110: 192
WAN4_R2 : RAND_REPLACE_UNIQUE : r1:/usr/local/etc/bird.conf;r3:/usr/local/etc/bird.conf;r4:/usr/local/etc/bird.conf;start.config : WAN4_R2 : 110: 192

