    GLOBAL_SETTINGS
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED bird-bgp_mike_master_seed
NETWORK TAP_LAN
     MASK 192.15.0.0/24
     GATEWAY 192.15.0.101
NETWORK LAN1
     MASK 202.15.0.0/24
     GATEWAY 202.15.0.101
NETWORK LAN2
     MASK 202.25.0.0/24
     GATEWAY 202.25.0.101
NETWORK LAN2A
     MASK 202.26.0.0/24
     GATEWAY 202.26.0.101
NETWORK LAN3
     MASK 202.35.0.0/24
     GATEWAY 202.35.0.101
NETWORK LAN4
     MASK 202.45.0.0/24
     GATEWAY 202.45.0.101
NETWORK WAN1
     MASK 10.1.0.0/24
     GATEWAY 10.1.0.101
     TAP YES
NETWORK WAN2
     MASK 10.2.0.0/24
     GATEWAY 10.2.0.101
     TAP YES
NETWORK WAN3
     MASK 10.3.0.0/24
     GATEWAY 10.3.0.101
     TAP YES
NETWORK WAN4
     MASK 10.4.0.0/24
     GATEWAY 10.4.0.101
     TAP YES
NETWORK WAN5
     MASK 10.5.0.0/24
     GATEWAY 10.5.0.101
     TAP YES
CONTAINER r1
     USER ubuntu
     X11 YES
     TERMINAL_GROUP routers
     ADD-HOST r2:10.1.0.WAN1_R2
     ADD-HOST r3:10.2.0.3
     LAN1 202.15.0.1
     WAN1 10.1.0.1
     WAN2 10.2.0.1
     NO_GW YES
CONTAINER r2
     USER ubuntu
     X11 YES
     TERMINAL_GROUP routers
     ADD-HOST r1:10.1.0.1
     ADD-HOST r4:10.4.0.4
     ADD-HOST r3:10.3.0.3
     LAN2 202.25.0.1
     LAN2A 202.26.0.1
     WAN1 10.1.0.WAN1_R2
     WAN3 10.3.0.WAN3_R2
     WAN4 10.4.0.WAN4_R2
     NO_GW YES
CONTAINER r3
     USER ubuntu
     X11 YES
     TERMINAL_GROUP routers
     ADD-HOST r1:10.2.0.1
     ADD-HOST r2:10.3.0.WAN3_R2
     ADD-HOST r4:10.5.0.4
     LAN3 202.35.0.1
     WAN2 10.2.0.3
     WAN3 10.3.0.3
     WAN5 10.5.0.3
     NO_GW YES
CONTAINER r4
     USER ubuntu
     X11 YES
     TERMINAL_GROUP routers
     ADD-HOST r2:10.4.0.WAN4_R2
     ADD-HOST r3:10.5.0.3
     LAN4 202.45.0.1
     WAN4 10.4.0.4
     WAN5 10.5.0.4
     NO_GW YES
CONTAINER e1
     USER ubuntu
     X11 YES
     TERMINAL_GROUP enterprise
     LAN1 202.15.0.2
     LAB_GATEWAY 202.15.0.1
     NAME_SERVER 202.15.0.1
CONTAINER e2
     USER ubuntu
     X11 YES
     TERMINAL_GROUP enterprise
     LAN2 202.25.0.2
     LAB_GATEWAY 202.25.0.1
     NAME_SERVER 202.25.0.1
CONTAINER e3
     USER ubuntu
     X11 YES
     TERMINAL_GROUP enterprise
     LAN3 202.35.0.2
     LAB_GATEWAY 202.35.0.1
     NAME_SERVER 202.35.0.1
CONTAINER e4
     USER ubuntu
     X11 YES
     TERMINAL_GROUP enterprise
     LAN4 202.45.0.2
     LAB_GATEWAY 202.45.0.1
     NAME_SERVER 202.45.0.1
CONTAINER tap
     USER ubuntu
     X11 YES
     TERMINALS 0
     TAP YES
CONTAINER netmon
     USER ubuntu
     X11 YES
     TAP_LAN 192.15.0.2
CONTAINER e5
     USER ubuntu
     X11 YES
     TERMINAL_GROUP enterprise
     LAN2A 202.26.0.2
     LAB_GATEWAY 202.26.0.1
     NAME_SERVER 202.26.0.1
