    GLOBAL_SETTINGS
    GRADE_CONTAINER client
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED server_mike_master_seed
NETWORK SOME_LAN
     MASK 172.25.0.0/24
     GATEWAY 172.25.0.101
CONTAINER server
     USER admin
     X11 YES
     PASSWORD admin
     SOME_LAN 172.25.0.2
     LAB_GATEWAY 172.25.0.9
     NO_GW YES
     NO_RESOLVE YES
CONTAINER client
     USER ubuntu
     X11 YES
     TERMINALS 2
     TERMINAL_GROUP client
     SOME_LAN 172.25.0.3:12:34:56:B0:B1:B3
     NO_GW YES
     NO_RESOLVE YES
CONTAINER attacker
     USER ubuntu
     X11 NO
     TERMINALS 2
     TERMINAL_GROUP attacker
     SOME_LAN 172.25.0.4:12:34:56:B0:B1:B4
     NO_GW YES
     NO_RESOLVE YES
CONTAINER router
     USER ubuntu
     X11 NO
     SOME_LAN 172.25.0.9
     NO_GW YES
     NO_RESOLVE YES
