# answer.config
# 
# Please see ..../docs/answer.config.format

# The following are meant for format string vulnerability lab

newsecret1value = 0x56

inputdecimal = vul_prog.stdin : LINE : 1 : 1
inputstring = vul_prog.stdin : LINE : 2 : 1

secret1address = vul_prog.stdout : LINE : 4 : 4
origsecret1value = vul_prog.stdout : LINE : 8 : 4
newsecret1value = vul_prog.stdout : STARTSWITH : 4 : The new secrets:

