# answer.config
# 
# description: * this configuration file is read by AnswerParser.py
#              * comment line starts with '#' and will be skipped
#              * empty line will be ignored
#
# entry format
# <nametag> = <string>
#             nametag - must be alphanumeric
#
# NOTE: multiple <nametag> is allowed -- will be stored as list
#
# for example:
# crashstring = %s
# means : the 'crashstring' is equal to '%s'
#

# The following are meant for format string vulnerability lab

crashstring = %s
crashstring = %s%s

newsecret1value = 0x56

