# goals.config
# 
# description: * this configuration file is read by GoalsParser.py
#              * comment line starts with '#' and will be skipped
#              * empty line will be ignored
#
# Note: Do not remove below [Goals] - Make use of Python ConfigParser
#       and it want 'section' 
[Goals]
#
# entry format
# <id> = <type> : <tag1> : <tag2>
#
# <id> - must be alphanumeric (id of the goal)
# <type> - must be either 'matchanyany', 'matchoneany', 'matchonelast'
#          where:
#          matchanyany - if any tag1 matches any tag2
#          matchoneany - if the first tag1 matches any tag2
#          matchonelast - if the first tag1 matches the last tag2
#
# <tag1> and <tag2> are either specified in 'answer' or 'result'
#                   and both must be alphanumeric
#
# for example:
# crash : matchanyany : crashstring : inputstring
# means : for goal of 'crash', if any of the crashstring matches
#         any of the inputstring, it is considered successful
#

# The following are meant for format string vulnerability lab

crash = matchanyany : crashstring : inputdecimal

modifyvalue = matchoneany : basenewsecret1value : newsecret1value

modifyspecific = matchonelast : basenewsecret1value : newsecret1value

