# goals.config
# 
# Please see ..../docs/goals.config.format

# The following are meant for format string vulnerability lab

#crash = matchanyany : string_equal : inputdecimal : answer.crashstring
_crash_smash = matchanyany : string_equal : crashStringCanary : answer=smashing
_crash_sig = matchanyany : string_equal : crashStringSignal : answer=segmentation
crash =  boolean : ( _crash_smash or _crash_sig )
modifyvalue = matchoneany : string_equal : newsecret1value : answer.newsecret1value

modifyspecific = matchonelast : string_diff : newsecret1value : answer=0x56

