# parser.config
# 
# description: * this configuration file is read by ResultParser.py
#              * comment line starts with '#' and will be skipped
#              * empty line will be ignored
#
# Note: Do not remove below [General] - Make use of Python ConfigParser
#       and it want 'section' 
[General]
#
# entry format
# <nametag> = [ stdin | stdout ] : <lineno> : <token> : <type>
#               nametag - must be alphanumeric
#               stdin - represent reading from stdin result file
#               stdout - represent reading from stdout result file
#               <lineno> - must be an integer starting from 1
#                        - if file does not contain that many lines,
#                          associated <nametag> is set to NONE
#               <token> - must be an integer starting from 1
#                       - tokens in line are separated by space
#                       - if line does not contain that many tokens,
#                          associated <nametag> is set to NONE
#               <type> - must be either decimal, hexadecimal or string
#                      - token taken (if exist) will be left as string
#                        if <type> is string, otherwise conversion will
#                        be attempted, i.e., take the token and attempt
#                        to convert it to decimal or hexadecimal value
#                        if conversion fail then
#                          associated <nametag> is set to NONE
#
# for example:
# inputdecimal = stdin : 1 : 1 : string
# means : read from stdin result file on line 1,
#         take the first token (tokens in line are separated by space)
#         and store it as name 'inputdecimal' of type string
#

# The following are meant for format string vulnerability lab

inputdecimal = vul_prog.stdin : 1 : 1 : string
inputstring = vul_prog.stdin : 2 : 1 : string

secret1address = vul_prog.stdout : 4 : 4 : hexadecimal
origsecret1value = vul_prog.stdout : 8 : 4 : string
newsecret1value = vul_prog.stdout : 9 : 4 : string

