    GLOBAL_SETTINGS
    LAB_MASTER_SEED ossec_mike_master_seed
NETWORK LAN
     MASK 172.0.0.0/24
     GATEWAY 172.0.0.1
CONTAINER ossec
     USER ubuntu
     X11 YES
     ADD-HOST LAN
     LAN 172.0.0.2
CONTAINER client1
     USER ubuntu
     X11 NO
     ADD-HOST LAN
     LAN 172.0.0.3
CONTAINER web_server
     USER admin
     X11 NO
     TERMINAL_GROUP LOCAL
     ADD-HOST LAN
     LAN 172.0.0.4
