# goals.config
# 
# Please see ..../docs/goals.config.format

# The following are meant for http lab

getindexsuccess = matchany : string_equal : getindexhtml : answer=True
getlink1success = matchany : string_equal : getlink1html : answer=True
getlink2success = matchany : string_equal : getlink2html : answer=True

