# parameter.config
# 
# Please see ..../docs/parameter.config.format

# The following are meant for buffer overflow vulnerability lab
rand1 : RAND_REPLACE: /home/ubuntu/stack.c : BUFFER_SIZE : 100 : 500
rand2 : RAND_REPLACE: /home/ubuntu/stack.c : OVERFLOW_SIZE : 1000 : 1000
rand3 : RAND_REPLACE: /home/ubuntu/exploit.c : OVERFLOW_SIZE : 1000 : 1000

roothash : HASH_REPLACE : /root/.secret : ROOT_SECRET : mysupersecretrootfile
userhash : HASH_REPLACE : /home/ubuntu/.secret : UBUNTU_SECRET : mysupersecretubuntufile

