# File: liveforensics.network

# SUBNETS
NETWORK INTERNET_LAB_NW 172.20.0.0/24 172.20.0.100
NETWORK INTERNAL_LAB_NW 172.35.0.0/24 172.35.0.102

# CONTAINERS
CONTAINER liveforensics.analysis.student liveforensics.analysis:student 1
    +INTERNET_LAB_NW 172.20.0.2
    +INTERNAL_LAB_NW 172.35.0.2

CONTAINER liveforensics.livemachine.student liveforensics.livemachine:student 1
    +INTERNET_LAB_NW 172.20.0.3
    +INTERNAL_LAB_NW 172.35.0.3

