# goals.config
# 
# Please see the Labtainer Lab Designer Guide
#
# results of nmap should show ssh & http, but not telnet
#

# group results into time ranges delimited by iptables commands
_ssh = time_during : _ssh_open : iptables
_http = time_during : _http_open : iptables
_telnet = time_during : _telnet_open : iptables
_wizbang = time_during : _wizbang_tmp : iptables

# DOC: ssh & http were open, and telnet was closed
first_ports_ok = boolean : ( _ssh and _http and_not _telnet )
# DOC: ssh & http and wizbang were open, telnet closed
second_ports_ok = boolean : ( _ssh and _http and _wizbang and_not _telnet )

