# parameter.config
# 
# Please see ..../docs/parameter.config.format

# The following are meant for buffer overflow vulnerability lab
RAND_REPLACE: /home/ubuntu/stack.c : BUFFER_SIZE : 100 : 500
RAND_REPLACE: /home/ubuntu/stack.c : OVERFLOW_SIZE : 1000 : 1000
RAND_REPLACE: /home/ubuntu/exploit.c : OVERFLOW_SIZE : 1000 : 1000

HASH_REPLACE : /root/.secret : ROOT_SECRET : mysupersecretrootfile
HASH_REPLACE : /home/ubuntu/.secret : UBUNTU_SECRET : mysupersecretubuntufile

