# goals.config
# 
# Please see ..../docs/goals.config.format

# The following are meant for buffer overflow vulnerability lab

# did the student get a root shell & display the /root/.secret file?
gain_root_priv = xxxxxany : string_equal : rootsecret : parameter.roothash

# got a root shell with ASLR enabled?
_aslron = matchany : integer_equal : aslr_setting : answer=2
_looproot = matchany : string_equal : whilesecret : parameter.roothash
while_get_root = boolean : ( _aslron and _looproot )

# experimented with enabling stack guard?
stack_protect = matchany : string_equal : crashStringCanary : answer=smashing

