# goals.config
# 
# Please see labdesigner.md

# Note these goals are intended mostly for testing the framework.

_ftploginok = is_true : ftplogin
_ftpmgetok = is_true : ftpmget

ftpsuccess = boolean : ( _ftploginok and _ftpmgetok )

# Student issues wget command with --user Guest and --password
_wgetarg = is_true : wgetcommand

# password given match parameterized password
_wgetpassmatch = matchany : string_equal : wgetpassword : parameter.GUESTPASS2

# WGET is done with correct 'Guest' username and password
wgetsuccess = boolean : ( _wgetarg and _wgetpassmatch )

