# goals.config
# 
# Please see labdesigner.md

# Note these goals are intended mostly for testing the framework.

#DOC: ftp'd to target machine
ftpsuccess = boolean : ( ftplogin and ftpmget )

# Student issues wget command with --user Guest and --password
# see results.config for _wgetarg

# password given match parameterized password
_wgetpassmatch = matchany : string_equal : wgetpassword : parameter.GUESTPASS2

# DOC: WGET is done with correct 'Guest' username and password
wgetsuccess = boolean : ( _wgetarg and _wgetpassmatch )

