# parameter.config
# 
# Please see the Labtainer Designer Lab Designer User Guide
#

egg_value : RAND_REPLACE : ghidra:.local/bin/fixlocal.sh : EGG_VALUE : 0x21 : 0x2f
egg_value : RAND_REPLACE : server:.local/bin/fixlocal.sh : EGG_VALUE : 0x21 : 0x2f
egg_value : RAND_REPLACE : ghidra:.local/bin/fixlocal.sh : PORT_VALUE : 0x89 : 0xa9
egg_value : RAND_REPLACE : server:.local/bin/fixlocal.sh : PORT_VALUE : 0x89 : 0xa9
