[Unit]
Description=Proxy Service

[Service]
Type=simple
ExecStart=/usr/bin/proxy
StandardOutput=null
WorkingDirectory=/home/ubuntu
User=ubuntu

[Install]
WantedBy=multi-user.target
Alias=proxy.service

