    GLOBAL_SETTINGS
    LAB_MASTER_SEED dns_mike_master_seed
NETWORK LAN
     MASK 192.168.0.0/24
     GATEWAY 192.168.0.1
     TAP YES
NETWORK TAP_LAN
     MASK 10.0.0.0/24
     GATEWAY 10.0.0.101
NETWORK WAN
     MASK 192.168.10.0/24
     GATEWAY 192.168.10.101
CONTAINER dns
     USER admin
     X11 NO
     TERMINAL_GROUP LOCAL
     LAN 192.168.0.3
CONTAINER gw
     USER admin
     X11 NO
     TERMINAL_GROUP LOCAL
     LAN 192.168.0.101
     WAN 192.168.10.3
     LAB_GATEWAY 192.168.10.2
     NO_GW YES
CONTAINER ws1
     USER ubuntu
     X11 NO
     TERMINAL_GROUP ws
     LAN 192.168.0.11
     LAB_GATEWAY 192.168.0.101
     NO_GW YES
CONTAINER ws2
     USER ubuntu
     X11 NO
     TERMINAL_GROUP ws
     LAN 192.168.0.12
     LAB_GATEWAY 192.168.0.101
     NO_GW YES
CONTAINER tap
     USER ubuntu
     X11 NO
     TERMINALS 0
     TAP YES
CONTAINER net-monitor
     USER ubuntu
     X11 YES
     TAP_LAN 10.0.0.2
CONTAINER ws3
     USER ubuntu
     X11 NO
     TERMINAL_GROUP ws
     LAN 192.168.0.13
     LAB_GATEWAY 192.168.0.101
     NO_GW YES
     NO_RESOLVE YES
CONTAINER isp
     USER ubuntu
     X11 NO
     TERMINALS 0
     WAN 192.168.10.2
