# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

# Penetrate Test - Vulnerably configured rlogin service (port 513)
# Ran nmap and confirm rlogin (port 513) is open
_rlogin = matchany : string_equal : rlogin_open : answer=open
# DOC: Used rlogin to view the root file
_rloginview = matchany : string_equal : rloginfileview : parameter.FSTRING
# GROUP: Ran nmap and used rlogin to achieve root privilege and view root file
rlogin_ok = is_true : _rloginview
#_pen_rlogin = boolean : ( _rlogin and _rloginview )

# Penetrate Test - Vulnerable ingreslock service (port 1524)
# Ran nmap and confirm ingreslock (port 1524) is open
_ingreslock = matchany : string_equal : ingreslock_open : answer=open
# DOC: Used telnet to view the root file
_ingreslockview = matchany : string_equal : ingreslockfileview : parameter.FSTRING
# GROUP: Ran nmap and used telnet (to ingreslock service) to achieve root privilege and view root file
ingreslock_ok = is_true : _ingreslockview
#_pen_ingreslock = boolean : ( _ingreslock and _ingreslockview )

# Penetrate Test - Vulnerable distccd service (port 3632)
# Ran nmap and confirm distccd (port 3632) is open
_distccd = matchany : string_equal : distccd_open : answer=open
# DOC: Used msfconsole to view the root file
_distccdview = matchany : string_equal : distccdfileview : parameter.FSTRING
# GROUP: Ran nmap and used msfconsole to achieve root privilege and view root file
# Using exploit exploit/unix/misc/distcc_exec
distccd_ok = is_true : _distccdview
#_pen_distccd = boolean : ( _distccd and _distccdview )

# Penetrate Test - Vulnerable IRC daemon (port 6667)
# Ran nmap and confirm irc (port 6667) is open
_irc = matchany : string_equal : irc_open : answer=open
# DOC: Used msfconsole to view the root file
_ircview = matchany : string_equal : ircfileview : parameter.FSTRING
# GROUP: Ran nmap and used msfconsole to achieve root privilege and view root file
# Using exploit exploit/unix/irc/unreal_ircd_3281_backdoor
irc_ok = is_true : _ircview
#_pen_irc = boolean : ( _irc and _ircview )

# Penetrate Test - Vulnerable VSFtpd service (port 21)
# Ran nmap and confirm vsftpd (port 21) is open
_vsftpd = matchany : string_equal : vsftpd_open : answer=open
# DOC: Used msfconsole to view the root file
_vsftpdview = matchany : string_equal : vsftpdfileview : parameter.FSTRING
# GROUP: Ran nmap and used msfconsole to achieve root privilege and view root file
# Using exploit exploit/unix/ftp/vsftpd_234_backdoor
vsftpd_ok = is_true : _vsftpdview
#_pen_vsftpd = boolean : ( _vsftpd and _vsftpdview )

# Penetrate Test - Vulnerable Samba service (port 139)
# Ran nmap and confirm samba (port 139) is open
_samba = matchany : string_equal : samba_open : answer=open
# DOC: Used msfconsole to view the root file
_sambaview = matchany : string_equal : sambafileview : parameter.FSTRING
# GROUP: Ran nmap and used msfconsole to achieve root privilege and view root file
# Using exploit exploit/multi/samba/usermap_script
samba_ok = is_true : _sambaview
#_pen_samba = boolean : ( _samba and _sambaview )

# Penetrate Test - Vulnerable HTTP (php) service (port 80)
# Ran nmap and confirm HTTP (php) (port 80) is open
_httpphp = matchany : string_equal : httpphp_open : answer=open
# DOC: Used msfconsole to view the root file
_httpphpview = matchany : string_equal : httpphpfileview : parameter.FSTRING
# GROUP: Ran nmap and used msfconsole to achieve root privilege and view root file
# Using exploit exploit/multi/http/php_cgi_arg_injection
httpphp_ok = is_true : _httpphpview
#_pen_httpphp = boolean : ( _httpphp and _httpphpview )

# Penetrate Test - Vulnerable PostGres service (port 5432)
# Ran nmap and confirm Postgres (port 5432) is open
_postgres = matchany : string_equal : postgres_open : answer=open
# DOC: Used msfconsole to view the root file
_postgresview = matchany : string_equal : postgresfileview : parameter.FSTRING
# GROUP: Ran nmap and used msfconsole to achieve root privilege and view root file
# Using exploit exploit/linux/postgres/postgres_payload
postgres_ok = is_true : _postgresview
#_pen_postgres = boolean : ( _postgres and _postgresview )

