    GLOBAL_SETTINGS
    GRADE_CONTAINER ws1
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED ws1_mike_master_seed
NETWORK LAN1
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.101
NETWORK LAN2
     MASK 192.168.2.0/24
     GATEWAY 192.168.2.101
NETWORK WAN
     MASK 203.0.113.0/24
     GATEWAY 203.0.113.101
NETWORK ISP_GW
     MASK 10.10.0.0/24
     GATEWAY 10.10.0.101
NETWORK REMOTE_LAN
     MASK 172.16.0.0/24
     GATEWAY 172.16.0.101
CONTAINER ws1
     USER harry
     X11 NO
     TERMINAL_GROUP users
     LAN1 192.168.1.1
CONTAINER ws2
     USER mary
     X11 NO
     TERMINAL_GROUP users
     LAN2 192.168.2.1
CONTAINER gateway
     USER admin
     X11 NO
     LAN1 192.168.1.10
     LAN2 192.168.2.10
     WAN 203.0.113.10
CONTAINER ws3
     USER larry
     X11 NO
     TERMINAL_GROUP users
     LAN2 192.168.2.2
CONTAINER web_server
     USER admin
     X11 NO
     TERMINAL_GROUP users
     LAN1 192.168.1.2
CONTAINER isp
     USER admin
     X11 NO
     TERMINALS -1
     WAN 203.0.113.1
     ISP_GW 10.10.0.1
CONTAINER remote_ws
     USER hank
     X11 NO
     TERMINAL_GROUP remote
     REMOTE_LAN 172.16.0.1
CONTAINER remote_gw
     USER admin
     X11 NO
     TERMINAL_GROUP remote
     REMOTE_LAN 172.16.0.10
     WAN 203.0.113.20
