# goals.config
# 
# Please see ..../docs/goals.config.format

# The following are meant for vpn lab

getindexsuccess = matchany : string_equal : getindexhtml : answer=True
getlink1success = matchany : string_equal : getlink1html : answer=True
getlink2success = matchany : string_equal : getlink2html : answer=True

#serveropenvpnsetup = matchany : string_equal : serveropenvpn : answer=server.conf
#clientopenvpnsetup = matchany : string_equal : clientopenvpn : answer=client.conf

routertcpdumpon = matchany : string_end : routertcpdump : answer=eth0

wgetlink1encryptedok = matchany : string_equal : wgetlink1 : answer=10.8.0.1:8000
wgetlink1openok = matchany : string_equal : wgetlink1 : answer=172.20.0.3:8000

#tcpdumpaftervpn = time_before : routertcpdumpon : clientopenvpnsetup

wgetopenduringtcpdump = time_during : wgetlink1openok : routertcpdumpon
wgetencryptedduringtcpdump = time_during : wgetlink1encryptedok : routertcpdumpon
