# goals.config
# 
# Please see ..../docs/goals.config.format

# The following are meant for vpn lab

getindexsuccess = matchany : string_equal : getindexhtml : answer=True
getlink1success = matchany : string_equal : getlink1html : answer=True
getlink2success = matchany : string_equal : getlink2html : answer=True

serveropenvpnsetup = matchany : string_equal : serveropenvpn : answer=server.conf
clientopenvpnsetup = matchany : string_equal : clientopenvpn : answer=client.conf

routertcpdumpvpnon = matchany : string_end : routertcpdumpvpn : answer=eth0
routertcpdumpopenon = matchany : string_end : routertcpdumpopen : answer=eth0

wgetlink1encryptedok = matchany : string_equal : wgetlink1encrypted : answer=10.8.0.1:8000
wgetlink1openok = matchany : string_equal : wgetlink1open : answer=172.20.0.3:8000

tcpdumpaftervpn = time_before : routertcpdumpvpnon : clientopenvpnsetup
