# goals.config
# 
# Please see the Labtainer Lab Designer User Guide


# DOC: was the secret2 value leaked?
_leaked_secret = matchany : string_contains : leaked_secret1 : parameter_ascii.SECRET2
_aslr_on = matchany : string_equal : aslr : answer=2
# DOC: was the secret2 value modified?
modify_specific = matchany : string_equal : newsecret1value : answer=0xa
# DOC: secret leaked with ASLR enabled?
leaked_secret = boolean : ( _aslr_on and _leaked_secret )
