# parameter.config
# 
# Please see labdesigner.pdf

# The following are meant for CNAP lab
# Replace the number of second to adjust for editcap
PCAPSECOND : RAND_REPLACE : cnaplab.cnaplabattacker.student=/home/ubuntu/.local/bin/fixlocal.sh : EDITCAP_SECONDS : 100 : 3600

# Replace with the same amount of characters, i.e., 5 for 'guest'
GUESTPASS1 : HASH_REPLACE : cnaplab.cnaplabattacker.student=/home/ubuntu/Task3-trace.pcap : guest : mycnapguestpass : 5
GUESTPASS2 : HASH_REPLACE : cnaplab.cnaplabplc.student=/home/Guest/.local/bin/fixlocal.sh;cnaplab.cnaplabplc.student=/sbin/auth.list : guest : mycnapguestpass : 5

