# Filename : start.config
# Description:
#     This is a simple configuration file read by start.sh

# Name of container
CONTAINER_NAME="formatstringinstructor"

# Name of container image
CONTAINER_IMAGE="formatstring:instructor"

# Name of user
CONTAINER_USER="ubuntu"

# HOST_HOME_SEED - directory to transfer artifact to/from containers
HOST_HOME_SEED="seed_dir/formatstring/"
