# File: telnetlab.network

# SUBNETS
NETWORK INTERNET_LAB_NW 172.20.0.0/24 172.20.0.100
NETWORK DMZ_LAB_NW 172.25.0.0/24 172.25.0.101
NETWORK INTERNAL_LAB_NW 172.35.0.0/24 172.35.0.102

# CONTAINERS
# First container will contain grades.txt
CONTAINER telnetlab.client.instructor telnetlab.client:instructor 1
    +INTERNET_LAB_NW 172.20.0.2
    +DMZ_LAB_NW 172.25.0.2
    +INTERNAL_LAB_NW 172.35.0.2

CONTAINER telnetlab.server.instructor telnetlab.server:instructor 1
    +INTERNET_LAB_NW 172.20.0.3
    +DMZ_LAB_NW 172.25.0.3

