[Desktop Entry]
Type=Application
Exec=gnome-terminal --geometry 120x31+150+300 --working-directory=/home/student/labtainer/labtainer-student --command /bin/bash &
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_NG]=Terminal
Name=Terminal
Comment[en_NG]=Start Terminal On Startup
Comment=Start Terminal On Startup
