[Unit]
Description=PLC Service

[Service]
Type=simple
ExecStart=/usr/bin/nodejs server.js
StandardOutput=/var/log/nodejs.log
StandardError=/var/log/nodejs.log
WorkingDirectory=/sbin/OpenPLC_v2x

[Install]
WantedBy=multi-user.target
Alias=plc.service
