.devicename {
	FONT-SIZE: 24px; COLOR: #ffffff; LINE-HEIGHT: 1.25; FONT-FAMILY: verdana, helvetica, arial, sans-serif; TEXT-DECORATION: none
}
.copy {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 1.25; FONT-FAMILY: verdana, helvetica, arial, sans-serif; TEXT-DECORATION: none
}
.subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: normal; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
P {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
TD {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
UL {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
TR.row {
	HEIGHT: 20px
}
BODY {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
.tablehead {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #002569; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
.bodysinglespace {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: verdana, helvetica, arial, sans-serif; TEXT-DECORATION: none
}
.subhead2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: normal; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
.copyright {
	FONT-SIZE: 10px; COLOR: #333333; LINE-HEIGHT: normal; FONT-FAMILY: verdana, helvetica, arial, sans-serif; TEXT-DECORATION: none
}
A.tab:link {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.tab:visited {
	FONT-SIZE: 10px; WORD-SPACING: normal; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.tab:hover {
	FONT-SIZE: 10px; WORD-SPACING: normal; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
TABLE.sortable A.sortheader {
	DISPLAY: block; FONT-WEIGHT: bold; COLOR: #002569; BACKGROUND-COLOR: #bdc8dd; TEXT-DECORATION: none
}
TABLE.sortable SPAN.sortarrow {
	COLOR: black; TEXT-DECORATION: none
}
