# parameter.config
# 
# Please see the Labtainer Designer Lab Designer User Guide
#

# The following are meant for wireshark-intro lab
# Trim the start of the pcap so that packet number of the target packet is not the same
PCAPSTART : RAND_REPLACE: /home/ubuntu/.local/bin/fixlocal.sh : EDITCAP_START : 0 : 100

