# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
_bob_stuff = is_true : bob_stuff
_alice_read = is_true : alice_read
_alice_dir = is_true : alice_dir
_bob_read = is_true : bob_read
_other_no = is_true : other_no

bob_stuff_acl = boolean : (_bob_stuff and _alice_read)
alice_default = boolean : (_alice_dir and _bob_read and _other_no)
