# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: Count of compilations of printenv.c program
cmp_printenv = value : gcc_printenv
#DOC: Count of use of diff command
did_diff = value : diff
#DOC: Count of use running the execve program
ran_execve = count : _ran_execve
#DOC: Count of use running the myprog LD program
ran_mylib = count : _ran_mylib
