# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#GROUP: Counts of quantity of commands issued.
logger_count = value : logger
last_count = value : last
service_count = value : service

#DOC: Altered rsyslog.conf, resulting in mark written to system log
log_mark = is_true : mark
#DOC: Altered rsyslog.conf, resulting in only debug messages going to
# a custom log file
exact_debug = boolean : (not _service_in_debug and some_debug)
